<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellway Web App (alpha)</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h2>Daily Nutrition Summary for {{current_user.username}}</h2>
    <hr>
    <table border="2">
        <tr>
            <th>Total Calories</th>
            <td>{{ daily_summary['total_calories'] }}</td>
        </tr>
        <tr></tr>
        <tr>
            <th>Protein</th>
            <td>{{ "%.1f"|format(daily_summary['percent_protein'] * 100) }}%</td>
            <td>{{ daily_summary['grams_protein'] }}g</td>
        </tr>
        <tr>
            <th>Fat</th>
            <td>{{ "%.1f"|format(daily_summary['percent_fat'] * 100) }}%</td>
            <td>{{ daily_summary['grams_fat'] }}g</td>
        </tr>
        <tr>
            <th>Carbs</th>
            <td>{{ "%.1f"|format(daily_summary['percent_carbs'] * 100) }}%</td>
            <td>{{ daily_summary['grams_carbs'] }}g</td>
        </tr>
    </table>
    <hr>
    <a href="/signout">Sign Out</a>
</body>
</html>